.reload-receipt-content {
    position: relative;
    justify-self: left;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    top: 10%;
    width: 90%;
}

.reload-receipt-content h1 {
    color: #CDB373;
    font-family: 'Mason Sans OT', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom:60px;
}

.reload-receipt-content .reload-receipt-reference {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reload-receipt-content .reload-receipt-reference .label{
    color: #CDB373;
    font-family: 'Mason Sans OT', sans-serif;

}

.reload-receipt-content .reload-receipt-id {
    display: flex;
    flex-direction: row;
}

.reload-receipt-content .reload-receipt-time {
    display: flex;
    flex-direction: row;
}

.reload-receipt-content .reload-receipt-id-content{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
}

.reload-receipt-content .reload-receipt-time-content{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
}

.reload-receipt-content button {
    margin-top: 80px;
}
