

.exchange-box {
    position: relative;
    justify-self: left;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    top: 5%;
    width: 100%;
}

.exchange-box h1{
    margin-bottom: 20px;
    color: #CDB373;
    font-family: 'Mason Sans OT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.transfer-to-container .title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.exchange-convert-result .input{
    border-bottom: 2px solid #CDB373;
    margin-bottom: 20px;
}