.analytic-box {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analytic-box h1 {
    margin-bottom: 20px;
    color: #CDB373;
    font-family: Montaga;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.date-filters, .frequency-filter, .paymentMethod-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date-filters div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*.frequency-filter .frequency-heading {
    margin-bottom: 5px;
    color: #CDB373;
}*/

.paymentMethod-filters .filter-heading {
    margin-bottom: 5px;
    color: #CDB373;
}

.paymentMethod-filters label {
    color: #FFFFFF;
}

.analytic-content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.analytic-content-container {
    background-color: #424f94;
    border-radius: 10px;
    border: 1px solid #CDB373;
    padding: 10px;
}
