.analytic-box {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 20px;
    color: #CDB373;
    font-family: Montaga;
    font-size: 40px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.date-filters, .frequency-filter, .category-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-filters label {
    color: #FFFFFF;
}

.analytic-content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.analytic-content-container {
    background-color: #424f94;
    border-radius: 10px;
    border: 1px solid #CDB373;
    padding: 10px;
}
