:root {
    --primary: #fff;
}

.input{

}

.input::placeholder {
    color: rgba(205, 179, 115, 0.27);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    color: #CDB373;
    cursor: text;
    text-decoration-color: #CDB373;
}

.input--login {
    border-radius: 2px;
    border: 1px solid #CDB373;
    background-color: transparent;
    padding: 7px 5px 7px 40px;
    position: relative;
    color: rgba(205, 179, 115, 0.7);
    width: 100%;
}

.input--signUp {
    border-radius: 2px;
    border: 1px solid #CDB373;
    background-color: transparent;
    padding: 7px 5px 7px 10px;
    position: relative;
    color: rgba(205, 179, 115, 0.7);
    width: 100%;
}

.input--filter {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #CDB373;
    color: white;
}

