.transfer-box {
    position: relative;
    justify-self: left;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    top: 10%;
    width: 90%;
}

.transfer-box h1{
    margin-bottom: 20px;
    color: #CDB373;
    /*font-family: Montaga;*/
    font-family: 'Mason Sans OT', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.transfer-to-container .title {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.transfer-to-container .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    padding-bottom: 10px;
}

.transfer-to-container .dropdown-list {
    flex: 1;
    width: 100%;
}

.transfer-to-container .dropdown-list select{
    width: 50%;
    background-color: #323b6e;
    border: 1px solid #CDB373;
    color: white;
    font-size: 20px;
    min-width: 250px;
    font-family: 'Mason Sans OT', sans-serif;

}

.transfer-to-container .dropdown-list option {
    font-size: 15px;
    background-color: #424f94;
    font-family: 'Mason Sans OT', sans-serif;
}

.transfer-to-container .search-container{
    flex: 1;
    width: 100%;
    display: flex;
    justify-self: flex-start;
    min-width: 200px; /* Add this line */

}

.transfer-to-container .search-container .input{
    font-size: 15px;

}

.transfer-to-container .logs-container{
    padding-left: 10px;
}

.transfer-to-container .logs-wrapper{
    overflow-y: scroll;
    height: 45vh;
    scrollbar-color: #CDB373 transparent;
    overflow-x: hidden;
}

.transfer-to-container .logs-box{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease; /* Add this line */
}

.transfer-to-container .logs-box :hover{
    background-color: #424f94;
    cursor: pointer;
}

.transfer-to-container .log{
    color: #FFFFFF;
    border-bottom: 1px solid #CDB373;
    padding: 10px 0px 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


