.reload-content {
    position: relative;
    justify-self: left;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
    top: 10%;
    width: 90%;
}

.reload-content h1{
    margin-bottom: 20px;
    color: #CDB373;
    font-family: Montaga;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.reload-content .reload-amount{
    margin-top: 30px;
}

.reload-content h2{
    margin-bottom: 20px;
    color: #CDB373;
    font-family: Montaga;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.reload-content .currency-input {
    border: 0px;
    border-bottom: 1px solid #CDB373;
    background-color: transparent;
    padding: 7px 5px 7px 10px;
    color: #FFFFFF;
    width: 100%;
    font-size: 30px;
}

.reload-content .reload-amount-enter {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.reload-amount-enter .currency{
    display: flex;
    font-size: 30px;
    align-items: flex-end;
    padding-bottom: 5px;
}

.reload-content .reload-amount-button-container {
    padding-top: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.reload-content .reload-amount-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reload-content .reload-amount-button button {
    border: 1px solid #CDB373;
    color: #FFFFFF;
}

.reload-content .reload-amount-confirm{
    display: flex;
    margin-top: 30px;
    width: 100%;
    padding: 0px 30px 0px 30px;
}

.reload-content .reload-amount-confirm button {
    border-radius: 10px;
}